*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    opacity: 92%;
    font-size: 24px;
   
}

div{
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-attachment: fixed;

}
.div1, .div9{background-image: url(./img/bg.jpg);
    
}
.div2,.div4, .div6,.div8{
    height: 300px;
}
.h11, .h12, .h14, .h15, .h16,.h17,.h18,.h19{
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    
}
.div3{
    background-image: url(./img/bg2.jpg);
}
.h13{
    background-image: url(./img/clarusway.png);
}
img{
    width: 30%;
    height: ;
}
.div5{
    background-image: url(./img/bg3.jpg);
}
.div7{
    background-image: url(./img/bg4.jpg);
}
.div11{
   
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 250px;
    height:100px;
    outline: inset 0.5rem purple;
}
.h12, .h16{
    background-color: white;
    color: black;
}
.div4, .div8{
    background-color: black;
}
.div15{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 400px;
    height: 100px;
    outline: inset 0.5rem purple;
    outline-offset: 0.4rem;
}
.div17{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 300px;
    height:100px;
    outline: inset 0.5rem purple;
}

.div19{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width:450px;
    height:120px;
    outline: inset 0.5rem purple;
}

h1{
    font-size: 32px;
}